on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, 'skip ci') && !contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      - name: Build project
        run: ./gradlew build --no-daemon --parallel

      - name: Upload project jars
        uses: actions/upload-artifact@v5
        with:
          name: BetterView-Artifacts
          path: build/libs/betterview-*
          if-no-files-found: error
